$font-size-base: 16px;
$font-size-small: .75rem;
$font-size-medium: .85rem;
$line-height-small: 1.27;

$hs-font-size-base: 16px;
$hs-font-size-small: 1vw;
$hs-font-size-medium: 1vw;
$hs-line-height-small: 1.27;

$hs-a-430: 3.8vw;
$hs-h3: 1.2vw;
$hs-h3-430: 4.2vw;
$hs-h4-430: 4.2vw;
$hs-p-430: 3.8vw;
$hs-a-line-height-430: 4;


$hs-h3-line-height-430: 4;
$hs-h4-line-height-430: 4;

$hs-a-540: 2.8vw;
$hs-h3-540: 3vw;
$hs-h4-540: 3vw;
$hs-p-540: 2.8vw;
$hs-a-line-height-540: 4;

$hs-a-667: 2vw;
$hs-h3-667: 2.2vw;
$hs-h4-667: 2.2vw;
$hs-p-667: 2vw;
$hs-a-line-height-667: 4;

$hs-a-896: 2vw;
$hs-h3-896: 2.2vw;
$hs-h4-896: 2.2vw;
$hs-p-896: 2vw;
$hs-a-line-height-896: 4;

$hs-a-932: 2vw;
$hs-h3-932: 2.2vw;
$hs-h4-932: 2.2vw;
$hs-p-932: 2vw;
$hs-a-line-height-932: 4;

$hs-a-1024: 1.1vw;
$hs-h3-1024: 1.2vw;
$hs-h4-1024: 1.2vw;
$hs-p-1024: 1.1vw;
$hs-a-line-height-1024: 4;