/akismet/
/classic-editor/
/classic-widgets/
/custom-post-type-permalinks/
/elfsight-instagram-feed-cc/
/forminator/
/foundation-image-widget/
/google-analytics-for-you/
/gravityforms/
/gravityformsconstantcontact/
/gravityformsgutenberg/
/gravityformssignature/
/gutenberg/
/wp-hummingbird/
/imagemagick-engine/
/oribi-analytics/
/permalink-manager-pro/
/post-type-switcher/
/relevanssi/
/shortcode-in-menus/
/toolbar-publish-button/
/ubermenu/
/wordfence/
/wp-super-cache/
/wp-multi-network/
/wpmudev-updates/
/index.php
/redis-cache/
/amazon-s3-and-cloudfront-pro/
/wordpress-importer/
/gf-edit-entries/
/gravity-pdf/
/http-headers/
/gravity-form-customizations/
