/akismet
/amazon-s3-and-cloudfront-pro
/amazon-s3-and-cloudfront
/classic-editor
/classic-widgets
/custom-post-type-permalinks
/do-spaces-sync
/elfsight-instagram-feed-cc
/forminator
/foundation-image-widget
/google-analytics-for-you
/gravityforms
/gravityformsconstantcontact
/gravityformsgutenberg
/gutenberg
/oribi-analytics
/permalink-manager-pro
/post-type-switcher
/relevanssi
/shortcode-in-menus
/toolbar-publish-button
/ubermenu
/wordfence
/wp-multi-network
/wpmudev-updates
/index.php

